.sign-in{
    height: 100vh;
    background-image: url("../public/Image/bgImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-in-form{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 420px;
    width: 370px;
    padding: 20px;
}
.sign-in-inputs{
    opacity: 0.7;
    padding: 8px;
}
.sign-in-box{
    color: crimson;
}
.blurry-box{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.chat-box{
    height: 600px;
    width: 600px;
}
.text-box{
    height: 500px;
    background-color: rgb(255, 235, 205, 0.9);
    overflow-y: scroll;
    border-radius: 8px;
    margin-bottom: 2px;
}
.text-box::-webkit-scrollbar {
    display: none;
}
.text-box {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.text-send{
    border: none;
    border-radius: 8px;
    margin-right: 5px;
    height: 40px;
}
.button-send{
    width: 8%;
    border: none;
    background-color: purple;
    color: white;
    border-end-end-radius: 8px;
    border-top-right-radius: 8px;
}
.text-own{
    background-color: purple;
    color: white;
}